<div id="sidebar">
    <h3>Detalhes da conta</h3>
    <p>Total de espaço: 1GB</p>

    <div class="progress">
        <div class="bar usage">60% usado</div>
        <div class="bar blue free">40% livre</div>
    </div>

    <form id="addSharer" action="">
        <legend>Compartilhar Drive</legend>
        <input type="email" id="addSharerInput" placeholder="Email...">
        <input type="submit" value=">" class="btn">
    </form>

    <p>Compartilhados</p>
    <ul id="shared-list">
        <li>Nenhum</li>
    </ul>

    <a href="" class="btn">Editar Informações</a>
    <a href="" class="btn red">Sair</a>
</div>